<%= form_with(model: ticket, class: 'form') do |form| %>
  <% if ticket.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
        <% ticket.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :day, class: 'form-label' %>
    <%= form.text_field :day, class: 'form-control' %>
  </div>

    <div class="form-group">
    <%= form.label :spring, class: 'form-label' %>
    <%= form.text_field :spring, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :date, class: 'form-label' %>
    <%= form.date_field :date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :remaining, class: 'form-label' %>
    <%= form.text_field :remaining, class: 'form-control' %>
  </div>

   <div class="form-group">
    <%= form.label :logged_time, class: 'form-label' %>
    <%= form.text_field :logged_time, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :status, class: 'form-label' %>
    <%= form.select :status, options_for_select(['On hold','
Initialized', 'Finished']), { include_blank: true }, class: 'form-select' %>

  </div>

  <div class="form-group">
    <%= form.label :description_remaining, class: 'form-label' %>
    <%= form.text_area :description_remaining, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :branch_detail, class: 'form-label' %>
    <%= form.text_area :branch_detail, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>

