
    <tr>
			<td><%= ticket.day %></td>
      <td><%= ticket.spring %></td>
			<td><%= ticket.date %></td>
			<td>
      <span class="badge bg-primary">
      <%= ticket.remaining %>
      </span>
      </td>
      <td><span class="badge bg-primary">
      <%= ticket.logged_time %>
      </span></td>
      <td>
       <% if ticket.status == 'On hold' %>
        <span class="badge bg-danger">
          <%= ticket.status %>
        </span>
      <% elsif ticket.status == 'Initialized' %>
        <span class="badge bg-warning">
          <%= ticket.status %>
        </span>
      <% elsif ticket.status == 'Finished' %>
        <span class="badge bg-success">
          <%= ticket.status %>
        </span>
      <% else %>
        <span class="badge bg-warning">
          <%= ticket.status %>
        </span>
      <% end %>
			<td><%= ticket.description_remaining %></td>
      </td>
      
			<td><%= ticket.branch_detail %></td>
      <td><span class="badge bg-success">
      <%= link_to "Show this ticket", ticket %>
      </span>
      </td>
		</tr>


