
    <tr>
			<td><%= ticket.day %></td>
			<td><%= ticket.date %></td>
			<td>
      <span class="badge bg-primary">
      <%= ticket.remaining %>
      </span>
      </td>
			<td><%= ticket.description_remaining %></td>
			<td><%= ticket.branch_detail %></td>
      <td><span class="badge bg-success">
      <%= link_to "Show this ticket", ticket %>
      </span>
      </td>
		</tr>


