	  <tr>
			<td><%= ticket.day %></td>
			<td><%= ticket.date %></td>
			<td><%= ticket.remaining %></td>
			<td><%= ticket.description_remaining %></td>
			<td><%= ticket.branch_detail %></td>
      <td><%= link_to "Show this ticket", ticket %></td>
		</tr>