<p style="color: green"><%= notice %></p>

<h1>Mis Tickets Tambora</h1>

<div id="tickets">
  <% @tickets.each do |ticket| %>
    <%= render ticket %>
    <p>
      <%= link_to "Show this ticket", ticket %>
    </p>
  <% end %>
</div>

<%= link_to "New ticket", new_ticket_path %>
<br></br>

<a class="btn btn-success" style="float:left;margin-right:20px;" href="https://codepen.io/collection/XKgNLN/" target="_blank">Other examples on Codepen</a>
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>Day</th>
			<th>Date</th>
			<th>Remaining</th>
			<th>Description remaining</th>
			<th>Branch detail</th>
      <th>Action</th>
		</tr>
	</thead>
	<tbody>
  <% @tickets.each do |ticket| %>
    <%= render ticket %>
  <% end %>
		
	
	</tbody>
	<tfoot>
		<tr>
			<th>Day</th>
			<th>Date</th>
			<th>Remaining</th>
			<th>Description remaining</th>
			<th>Branch detail</th>
      <th>Action</th>
		</tr>
	</tfoot>
</table>

